@mixin btn {
  padding: 0.5rem 1rem;
  margin-block-end: 1rem;
  border-radius: 15px;
  background-color: $buttonColor;
  color: white;
  font-size: 1em;
  font-weight: bold;

  &:hover {
    color: black;
  }
}
